@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);

/*estilos para login */

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
body {
	background: url(../img/06.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	min-height: 100vh;
}

a {
	align-self: center;
}
form {
	color: #ffffff; /*color fuente blanco*/
	margin: auto;
	width: 50%;
	max-width: 500px;
    background: -webkit-linear-gradient(#4f4f4f, #0a0a0a);/*color del menu*/
	background: -moz-linear-gradient(#4f4f4f, #0a0a0a);/*color del menu*/
	border-color: rgba(231, 231, 231, 0);
	padding: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 40px 40px 40px 40px;
}

h2 {
	text-align: center;
	margin-bottom: 10px;
	color: #ffffff;
}

input {
	background: #ffffff;
	border-color: #ffffff;
	color: #555;
	display: block;
	padding: 5px;
	width: 100%;
	margin: 15px 0;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
}
button:hover{
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}

button {
	display: block;
	padding: 10px;
	width: 45%;
	margin: 30px 0;
	font-size: 20px;
}


button.btn.btn-default {
	background: #F52323;
	border: 0;
	border-radius: 20px;
	cursor: pointer;
	padding: 10px 40px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 0;
}
button.btn.btn-default:hover{
	background: #FCAC45;
	border-color: #FCAC45;
	color: #ffffff;
}

.btn:active, .btn.active {
	transform: scale(0.95);
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.fondoref {
	background: #F52323;
	border-color: #F52323;
	border-radius: 40px 40px 40px 40px;	
}
.fondoref a {
	padding: 1px 1px 1px 1px;
	height: 40px;
	
}
.fondoref a {
	color:#FFFFFF;
}
.fondoref a:hover {
	background: #FCAC45;
	border-color: #FCAC45;
	color: #060B90;
}
/*-----------------boton login, registro,inscripciones, gracias por registrarse--------------------*/
.btn-defaultg {
  color: #fff;
  background-color: #EE2024;
  border-color: #EE2024;
  border-radius: 20px;
  padding: 10px 30px 10px 30px; /*centro los nombres de los botones*/
  
}

.btn-defaultg:hover,
.btn-defaultg:focus,
.btn-defaultg.focus,
.btn-defaultg:active,
.btn-defaultg.active,
.open > .dropdown-toggle.btn-defaultg {
  color: #fff;
  background-color: #fcac45;
  border-color: #fcac45;
}


@media (max-width: 768px){
	form {
		width: 50%;
	}
}

@media (max-width: 480px){
	form {
		width: 95%;
	}
}