{% extends 'base.html' %}
{% block title %} Recuperar contraseña {% endblock %}

{% block content %}
	
	<!-- HEADER -->
		<!--===================================================-->
		<div align="left"class="cls-header cls-header-lg">
			<div class="cls-brand">
				<a class="box-inline" href="./">
				<div class="col-md-6">
            		<a href="/"><img src="/media/home/img/logo.png" width="600" height="350" class="img-responsive"></a>
         		</div>
				</a>
			</div>
		</div>
		<!--===================================================-->
		
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		   <div class="overlay">
    		<div class="containerFormularios">
        		<form action="." method="POST">
        		<h3>RESTABLECER CONTRASEÑA</h3>
        		<br>
				<p>¿Has olvidado tu clave? <br>Introduce tu dirección de correo a 
				continuación y te enviaremos por correo electrónico las instrucciones 
				para establecer una nueva.</p>
        		{% csrf_token %}
        		<label id="id_mail">Correo Electrónico: </label>
				<input maxlength="254" name="email" type="email" class="form-control">
				<br>
				<button class="btn  btn-defaultg" type="submit"> Enviar </button>
				<div align="left">
					<h6> <a href="/login/" class="">Atrás</a></h6>
				</div>
        	    </form>
        	 </div>
        	</div>
        	</div>
{% endblock %}
