{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}

{% if validlink %}
	<form action="." method="POST">
		<h2>Nueva Contraseña</h2>
		{% csrf_token %}
		
		{{form.new_password1.errors}}
		<label for="id_new_password1">Nueva Contraseña:</label>
		{{ form.new_password1 }}
		
		{{form.new_password2.errors}}
		<label for="id_new_password2">confirme Contraseña:</label>
		{{ form.new_password2 }}

		<button class="btn  btn-defaultg" type="submit"> ENVIAR</button>
		
	</form>
	
{% else %}
	<h2>Enlace inválido: Este enlace ya ha sido utilizado</h2>
{% endif %}
{% endblock %}
