{% extends 'base.html' %}
{% block title %} Cambiar contraseña {% endblock %}

{% block content %}
	<!-- HEADER -->
		<!--===================================================-->
		<div align="left"class="cls-header cls-header-lg">
			<div class="cls-brand">
				<a class="box-inline" href="./">
				<div class="col-md-6">
            		<a href="/"><img src="/media/home/img/logo.png" width="600" height="350" class="img-responsive"></a>
         		</div>
				</a>
			</div>
		</div>
		<!--===================================================-->
		
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		   <div class="overlay">
    		<div class="containerFormularios">
	        	{% if validlink %}
				<form action="." method="POST">
					<h3>DEFINIR NUEVA CONTRASEÑA</h3>
					<br>
					{% csrf_token %}
					
					<!--{{form.new_password1.errors}}-->
					<label for="id_new_password1">Nueva Contraseña:</label>
					<input maxlength="254" name="new_password1" type="password" class="form-control">
					<br>
			
					<!--{{form.new_password2.errors}}-->
					<label for="id_new_password2">Confirme Contraseña:</label>
					<input maxlength="254" name="new_password2" type="password" class="form-control">
					<br>
					<button class="btn  btn-defaultg" type="submit"> ENVIAR</button>
					
				</form>
				{% else %}
				<form>
					<h3>Enlace inválido: Este enlace ya ha sido utilizado</h3>
				</form>	
			</div>
		  </div>
        </div>

	
{% endif %}
{% endblock %}
