{% extends 'base.html' %}
{% block title %} Cambiar contraseña {% endblock %}

{% block content %}

{% if validlink %}
	<form action="." method="POST">
		<h3>DEFINIR NUEVA CONTRASEÑA</h3>
		<br>
		{% csrf_token %}
		
		<!--{{form.new_password1.errors}}-->
		<label for="id_new_password1">Nueva Contraseña:</label>
		<input maxlength="254" name="new_password1" type="password" class="form-control">
		<br>

		<!--{{form.new_password2.errors}}-->
		<label for="id_new_password2">Confirme Contraseña:</label>
		<input maxlength="254" name="new_password2" type="password" class="form-control">
		<br>
		<button class="btn  btn-defaultg" type="submit"> ENVIAR</button>
		
	</form>
	
{% else %}
	<form>
		<h3>Enlace inválido: Este enlace ya ha sido utilizado</h3>
	</form>
	
{% endif %}
{% endblock %}
