{% extends 'base.html' %}
{% block title %} Recuperar contraseña {% endblock %}

{% block content %}
	<form action="." method="POST">
		<h3>RESTABLECER CONTRASEÑA</h3>
		<br>
		<p>¿Has olvidado tu clave? <br>Introduce tu dirección de correo a 
		continuación y te enviaremos por correo electrónico las instrucciones 
		para establecer una nueva.</p>
		{% csrf_token %}
		
		<label id="id_mail">Correo Electrónico: </label>
		<input maxlength="254" name="email" type="email" class="form-control">
		<br>
		<button class="btn  btn-defaultg" type="submit"> ENVIAR </button>
		<div align="left">
			<h6> <a href="/login/" class="">Atrás</a></h6>
		</div>
		
	</form>

{% endblock %}
