{% extends 'base.html' %}
{% block title %} Inscripciones {% endblock %}

{% block content %}
	<!-- HEADER -->
		<!--===================================================-->
			<div align="left" class="cls-header cls-header-lg">
			<div class="cls-brand">
				<a class="box-inline" href="./">
					<div class="col-md-6">
            			<a href="/"><img src="/media/home/img/logo.png" width="600" height="350" class="img-responsive"></a>
         			</div>
				</a>
			</div>
		</div>
		<!--===================================================-->
		
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		   <div class="overlay">
    		<div class="containerFormularios">
        		<form action="." method="POST">
            		<h3>FORMULARIO DE INSCRIPCION</h3>
            		{% csrf_token %}
            		<br>
            		{{form.as_p}}
            		<div align=center>
            			<li><button class="btn  btn-defaultg" type="submit"> Enviar </button>
            			<button class="btn  btn-defaultg" type="reset"> Limpiar </button>
            			<a href="https://pagos-julianrico.c9users.io/pagos/" class="btn btn-defaultg"><b> Pago Online</b></a>
            			<img src="/media/home/img/davivienda.png"></img>
            		</div>
            		<div align="left">
            			<h6><a href="/" class="">Atrás</a></h6>
            		</div>
            	
            		<br>
            		{{informacion}}
            	</form>
        	 </div>
        	</div>
        	</div>
	
{% endblock %}