{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
	<form action="." method="POST">
		<h2>Login</h2>
		{% csrf_token %}
		<ul class="errorlist">
			<li>{{mensaje}}</li>
		</ul>
		{{form.as_p}}
		<button class="btn  btn-defaultg" type="submit"> INGRESAR </button>
		<div align="right">
			<p><h6>No estás Registrado? <a href="/registro/" class="">Registrate Aquí!</a></h6></p>
			<p><h6>¿Olvidaste el nombre de <a href="/reset/password_reset_form/" class="">Usuario</a> o la <a href="/reset/password_reset_form/" class="">Contraseña?</a></h6></p>
		</div>
	</form>

{% endblock %}
