{% extends 'base.html' %}
{% block title %} ResultadoForm {% endblock %}

{% block content %}
    <div>
        
        <form action="." method="POST">
            <h2>RESULTADOS</h2>
            {{mensaje}}
            <br>
            {{ form.programas_academicos }}
            <div align=center>
                <button class="btn  btn-defaultg" type="submit"> GENERAR LISTADO </button>
                </div>
            <div align="left">
			    <h5><a href="/" class="">Atrás</a></h5>
		    </div>
        </form>
    </div>


{% endblock %}
