{% extends 'base.html' %}
{% block title %} ResultadoForm {% endblock %}

{% block content %}
    <div>
        
        <form id="programas_academicos" action="." method="POST">
            <h2>RESULTADOS</h2>
            <br>
            "Seleccione la Carrera a la que se inscribió"
            <br>
            <br>
            {% csrf_token %}
            {{form.programas_academicos}}

            <div align=center>
                <br>
                <button class="btn  btn-defaultg" type="submit"> GENERAR LISTADO </button>
                </div>
            <div align="left">
			    <h5><a href="/" class="">Atrás</a></h5>
		    </div>
        </form>
        
       
    </div>


{% endblock %}
