{% extends 'base.html' %}
{% block title %} Gracias por Registrarte {% endblock %}

{% block content %}
	<!-- HEADER -->
		<!--===================================================-->
			<div align="left" class="cls-header cls-header-lg">
			<div class="cls-brand">
				<a class="box-inline" href="./">
					<div class="col-md-6">
            			<a href="/"><img src="/media/home/img/logo.png" width="600" height="350" class="img-responsive"></a>
         			</div>
				</a>
			</div>
		</div>
		<!--===================================================-->
		
		
		<!-- LOGIN FORM -->
		<!--===================================================-->
		<div class="cls-content">
		   <div class="overlay">
    		<div class="containerFormularios">
                <form>
					<h3>Gracias por Registrarte</h3>
					<a href="{% url 'vista_login' %}" class="btn btn-defaultg">Iniciar Sesión</a>
				</form>
        	 </div>
        	</div>
        	</div>

{% endblock %}
