{% extends "base_admin.html" %}
{% block title %}Editar Inscripciones{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Edición de Inscripciones</h1>
<div class="panel">
    <div class="panel-heading panel-colorful panel-primary">
        <h3 class="panel-title">Editar Inscripción</h3>
    </div>
    <br>
    <div id="demo-custom-toolbar" class="table-toolbar-right" style="text-align: right">
        <a href="/listar_inscripciones/page/1/*" class="btn btn-success btn-sm fa fa-list-alt text-lg"><b> Listar Inscripciones</b></a>
    </div>
    <form name="FormularioRegistroInscripciones" id="demo-bv-bsc-tabs" class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <div class="panel-body">
                
            <fieldset>
                <div class="form-group">
                    <div class="col-lg-7">
                        {{form.as_p}}
                    </div>
                </div>
            </fieldset>        
                
           
        <!--===================================================-->
        
        </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-3">
                    <button id="btn-envio" class="btn btn-danger" type="submit" name="btncreate">Actualizar</button>
                    </div>
                </div>
            </div>
        </form>
</div>
<script>
    function icfes(){
        var snp = document.getElementById("snp").value;
        var url = "/icfes/";
        $.ajax({
           url: url,
           data: {'snp':snp,
                csrfmiddlewaretoken: '{{csrf_token}}',
           },
            type: 'POST',
            success: function(response_data){
                
                var recept = JSON.parse(response_data);
                $("#lectura_critica").val(recept[0]["lectura_critica"]);
                $("#matematicas").val(recept[0]["matematicas"]);
                $("#sociales").val(recept[0]["sociales"]);
                $("#naturales").val(recept[0]["naturales"]);
                $("#ingles").val(recept[0]["ingles"]);
                $("#razonamiento_cuantitativo").val(recept[0]["razonamiento_cuantitativo"]);
                $("#competencias_ciudadanas").val(recept[0]["competencias_ciudadanas"]);
            },
            error: function(xhr,errmsg,err){
                
                alert(xhr.status + " " + xhr.responseText);
                
            }
        });
    }
</script>
<script>
    window.onload= function() {
        llamarMensajes('{{ llamarMensaje }}' , '{{ mensaje }}');
    };
</script>

{% endblock %}
