{% extends "base_admin.html" %}
{% block title %}Consultar, editar y eliminar Inscripciones{% endblock title %}
{% block content %}


<!--IniciaModal-->
 <div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <h3 id="myModalLabel"> Eliminar Inscripción</h3>
      <!-- dialog body -->
      <div class="modal-body">
        <p>¿Realmente desea eliminar el Aspirante con la Cédula <span id="modal_name"></span>?</p>
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
        <form method="post" id="frmEliminar">
              {% csrf_token %}
              <input type="hidden" id="modal_idPrograma" name="programa_id">
              <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->


    <h1 class="page-header text-overflow">Listado de Inscripciones</h1>
<div class="panel">
    <div class="panel-heading panel-colorful panel-primary">
        <h3 class="panel-title">Listado de Inscripciones de Estudiantes</h3>
    </div>
    <div id="demo-custom-toolbar" class="table-toolbar-left" style="text-align: right">
        <a href="{% url 'vista_crear_inscripcion' %}" class="btn btn-success btn-sm fa fa-plus"><b> Crear Inscripción</b></a>
    </div>
    <div class="panel-body">
    <form name="formDelete" method="post">
{% if inscripcion %}
        <table id="demo-dt-delete" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-desktop">Cédula</th>
                    <th class="min-tablet">Nombre</th>
                    <th class="min-tablet">Apellido</th>
                    <th class="min-tablet">SNP</th>
                    <th class="min-tablet">Número Ref Pago</th>
                    <th class="min-tablet">Carrera</th>
                    <th class="min-tablet">Acción</th>
                </tr>
            </thead>
        {% for i in inscripcion %}
            <tbody>
                
                    <tr id="tr{{i.cedula}}">
                        <td>{{ i.cedula }}</td>
                        <td>{{ i.nombre }} </td>
                        <td>{{ i.apellido }} </td>
                        <td>{{ i.snp }} </td>
                        <td>{{ i.ref_pago }} </td>
                        <td>{{ i.carrera }} </td>
                        <td>
                            <!--acciones - boton editar y eliminar-->
                            <a class="btn btn-success btn-xs add-tooltip" data-toggle="tooltip" href="/editar_inscripciones/{{ i.cedula }}" data-original-title="Editar" data-container="body"><i class="fa fa-pencil" ></i></a>
                            <a href="#myModal" role="button" class="btn delete" data-toggle="modal" id="{{ i.cedula }}" data-name=" {{ i.cedula }}" data-container="body" ><i class="btn btn-xs btn-danger add-tooltip btn-info fa fa-trash-o" data-toggle="tooltip" data-original-title="Eliminar"></i></a>
                        </td>
                    </tr>
            </tbody>
        {% endfor %}
        </table>
{% else %}
        <h2>No existen Inscripciones</h2>
{% endif %}

{% if inscripcion %}
        <div >
        <table id="demo-dt-delete"  width="15%">
            <thead>
                <tr>
                    <th class="min-tablet"><a href="/listar_inscripciones/page/1/"> << </a></th>
                     {% if inscripcion.has_previous %}
                    <th class="min-tablet"><a href="/listar_inscripciones/page/{{inscripcion.previous_page_number}}"> Prev </a></th>
                    {% else %}
                    <th class="min-tablet"><a href="#"> Prev </a></th>
                    {% endif %}
                    {% if inscripcion.has_next %}
                    <th class="min-tablet"><a href="/listar_inscripciones/page/{{inscripcion.next_page_number}}"> Next </a></th>
                    {% else %}
                    <th class="min-tablet"><a href="#"> Next </a></th>
                    {% endif %}
                    <th class="min-tablet"><a href="/listar_inscripciones/page/{{inscripcion.paginator.num_pages}}"> >> </a></th>
                    
                </tr>
            </thead>
        </table>
        
         <table id="demo-dt-delete" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-desktop"><h4><b>Página {{ inscripcion.number }} de {{ inscripcion.paginator.num_pages}}</b></h4></th>
                </tr>
            </thead>   
        </table>
        </div>
    </form>
    </div>
</div>
{% endif %}   
{% endblock %}
