{% extends "base_admin.html" %}
{% block title %}Consultar, editar y eliminar carreras{% endblock title %}
{% block content %}


<!--IniciaModal-->
 <div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
        <h3 id="myModalLabel"> Eliminar Programa Académico</h3>
      <!-- dialog body -->
      <div class="modal-body">
        <p>¿Realmente desea eliminar el programa Académico <span id="modal_name"></span>?</p>
      </div>
      <!-- dialog buttons -->
      <div class="modal-footer">
        <form method="post" id="frmEliminar">
              {% csrf_token %}
              <input type="hidden" id="modal_idPrograma" name="programa_id">
              <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--EndModal-->


    <h1 class="page-header text-overflow">Listado de carreras de la Universidad</h1>
<div class="panel">
    <div class="panel-heading panel-colorful panel-primary">
        <h3 class="panel-title">Listado de las carreras Universitaria</h3>
    </div>
    <div id="demo-custom-toolbar" class="table-toolbar-left" style="text-align: right">
        <a href="{% url 'vista_crear_carrera' %}" class="btn btn-success btn-sm fa fa-plus"><b> Crear carrera</b></a>
    </div>
    <div class="panel-body">
    <form name="formDelete" method="post">
{% if carreras %}
        <table id="demo-dt-delete" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="min-desktop">Código</th>
                    <th class="min-tablet">Nombre</th>
                    <th class="min-tablet">P.Lec</th>
                    <th class="min-tablet">P.Mat</th>
                    <th class="min-tablet">P.Soc</th>
                    <th class="min-tablet">P.Nat</th>
                    <th class="min-tablet">P.Ing</th>
                    <th class="min-tablet">P.Raz</th>
                    <th class="min-tablet">P.Com</th>
                    <th class="min-tablet">Cupos</th>
                    <th class="min-tablet">Acción</th>
                </tr>
            </thead>
        {% for c in carreras %}
            <tbody>
                
                    <tr id="tr{{c.codigo}}">
                        <td>{{ c.codigo }}</td>
                        <td>{{ c.nombre }} </td>
                        <td>{{ c.lectura_critica }} </td>
                        <td>{{ c.matematicas }} </td>
                        <td>{{ c.sociales }} </td>
                        <td>{{ c.naturales }} </td>
                        <td>{{ c.ingles }} </td>
                        <td>{{ c.razonamiento_cuantitativo }} </td>
                        <td>{{ c.competencias_ciudadanas }} </td>
                        <td>{{ c.cupos }} </td>
                        <td>
                            <!--acciones - boton editar y eliminar-->
                            <a class="btn btn-success btn-xs add-tooltip" data-toggle="tooltip" href="/editar_carrera/{{ c.codigo }}" data-original-title="Editar" data-container="body"><i class="fa fa-pencil" ></i></a>
                            <a href="#myModal" role="button" class="btn delete" data-toggle="modal" id="{{ c.codigo }}" data-name=" {{ c.nombre }}" data-container="body" ><i class="btn btn-xs btn-danger add-tooltip btn-info fa fa-trash-o" data-toggle="tooltip" data-original-title="Eliminar"></i></a>
                        </td>
                    </tr>
            </tbody>
        {% endfor %}
        </table>
{% else %}
        <h2>No existen carreras</h2>
{% endif %}

{% if carreras %}
        <div class="col-sm-7 col-sm-offset-4">
        <table id="demo-dt-delete" width="15%">
            <thead>
                <tr>
                    <th class="min-tablet"><a class="btn btn-info" href="/listar_carreras/page/1/"> Inicio </a></th>
                     {% if carreras.has_previous %}
                    <th class="min-tablet"><a class="btn btn-info" href="/listar_carreras/page/{{carreras.previous_page_number}}"><i class="fa fa-backward" ></i></a></th>
                    {% else %}
                    <th class="min-tablet"><a class="btn btn-info" href="#"><i class="fa fa-backward" ></i></a></th>
                    {% endif %}
                    {% if carreras.has_next %}
                    <th class="min-tablet"><a class="btn btn-info" href="/listar_carreras/page/{{carreras.next_page_number}}"><i class="fa fa-forward"></a></th>
                    {% else %}
                    <th class="min-tablet"><a class="btn btn-info" href="#"><i class="fa fa-forward"></i></a></th>
                    {% endif %}
                    <th class="min-tablet"><a class="btn btn-info" href="/listar_carreras/page/{{carreras.paginator.num_pages}}"> Final </a></th>
                    
                </tr>
            </thead>
        </table>
        </div>
        <div>
         <table id="demo-dt-delete" width="100%">
            <thead>
                <tr>
                    <th class="min-desktop"><h4><b>Página {{ carreras.number }} de {{ carreras.paginator.num_pages}}</b></h4></th>
                </tr>
            </thead>   
        </table>
        </div>
    </form>
    </div>
</div>
{% endif %}   
{% endblock %}
