{% extends "base_admin.html" %}
{% block title %}Crear Inscripciones{% endblock title %}
{% block content %}
    <h1 class="page-header text-overflow">Creación Inscripciones de Aspirantes</h1>
<div class="panel">
    <div class="panel-heading panel-colorful panel-primary">
        <h3 class="panel-title">Registro de Inscripciones</h3>
    </div>
    <br>
    <div id="demo-custom-toolbar" class="table-toolbar-right" style="text-align: right">
        <a href="/listar_inscripciones/page/1/*" class="btn btn-success btn-sm fa fa-list-alt text-lg"><b> Listar Inscripciones</b></a>
    </div>
    <form name="FormularioRegistroInscripcion" id="demo-bv-bsc-tabs" class="form-horizontal" action="" method="POST">
            {% csrf_token %}
            <div class="panel-body">
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Cédula:</label>
                    <div class="col-lg-7">
                    {{ form.cedula }}
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Nombre:</label>
                    <div class="col-lg-7">
                    {{ form.nombre }}
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Apellido:</label>
                    <div class="col-lg-7">
                    {{ form.apellido }}
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Número de Registro ICFES:</label>
                    <div class="col-lg-7">
                    {{ form.snp }}
                    </div>
                </div>
            </fieldset>
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Lectura crítica:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.lectura_critica }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Matemáticas:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.matematicas }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Sociales:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.sociales }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Naturales:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.naturales }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Inglés:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.ingles }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Razonamiento cuantitativo:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.razonamiento_cuantitativo }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <!--<fieldset>-->
            <!--    <div class="form-group">-->
            <!--    <label class="col-lg-3 control-label">Puntaje de Competencias ciudadanas:</label>-->
            <!--    <div class="col-lg-7">-->
            <!--    {{ form.competencias_ciudadanas }}-->
            <!--    </div>-->
            <!--    </div>-->
            <!--</fieldset>-->
            
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Colegio:</label>
                <div class="col-lg-7">
                {{ form.colegio }}
                </div>
                </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Referencia de Pago:</label>
                    <div class="col-lg-7">
                    {{ form.ref_pago }}
                    </div>
                </div>
            </fieldset>
            
            <fieldset>
                <div class="form-group">
                <label class="col-lg-3 control-label">Programa Académico:</label>
                    <div class="col-lg-7">
                    {{ form.programas_academicos }}
                    </div>
                </div>
            </fieldset>
        <!--===================================================-->
        
        </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-7 col-sm-offset-3">
                    <button id="btn-envio" class="btn btn-danger" type="submit" name="btncreate">Crear Inscripción</button>
                    </div>
                </div>
            </div>
        </form>
</div>
<script>
    window.onload= function() {
        llamarMensajes('{{ llamarMensaje }}' , '{{ mensaje }}');
    };
</script>

{% endblock %}
